@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open{
    width: 250px;
}

.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
    text-align: right;
}

.sidebar i{
    color: white;
    height: 60px;
    min-width: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list{
margin-top: 20px;
height: 100%;
}

.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip{
    display: none;
}

.sidebar input{
    font-size: 15px;
    color: white;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background-color: #11101d;
}

.sidebar li a:hover{
    background: white;
}

.sidebar li a .links_name{
    color: white;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101d;
}

.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
}

.sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 80px;
    left: 0;
    top: 200px;
    padding: 10px 14px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile{
    width: 250px;
}

.sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li.profile .name{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 40px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    background: linear-gradient(to right, rgba(100,200,200,1), rgba(100,200,200,1)),linear-gradient(to right,rgba(255,0,0,1),rgba(255,0,180,1),rgba(0,100,200,1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.sidebar li.profile .name:hover{
    background-size: 0 3px, 100% 3px;
    cursor: pointer;
}

.sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
    width: 50px;
    background: none;
}


.home-section{
    position: relative;
    background: #e4e9f7;
    min-height: 100vh;
    top: 0;
    left: 80px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 20px;
}

@media (max-width: 420px){
    .sidebar li .tooltip{
        display: none;
    }
}

/* 
///////////////////////////
///////////////////////////
///////////////////////////
    FEED POST CSS NOW
///////////////////////////
///////////////////////////
///////////////////////////
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #fafafa;
    }
    
    .navbar .container {
    /* background-color: #555; */
    padding: 15px 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    }

    main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    main .container {
    position: relative;
    margin-top: 60px;
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background: #ddd; */
    }
    
    .col-9 {
    width: 65%;
    margin-top: 30px;
    }

    
    .col-9 .card {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    /* min-height: 400px; */
    display: inline-block;
    border: 1px solid rgba(7, 7, 7, 0.24);
    }
    
    .col-9 .card .top {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .col-9 .card .bottom {
    padding: 10px 20px;
    }
    
    .col-9 .card .top .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
    }
    
    .profilepic {
    display: inline-block;
    cursor: pointer;
    }
    
    .profilepic .profile_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, red, orange);
    padding: 2px;
    margin-right: 8px;
    cursor: pointer;
    }
    
    .profilepic .profile_img .image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    }
    
    .profilepic .profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .col-9 .card .top .userDetails h3 {
    /* width: 100%; */
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
    }
    
    .col-9 .card .top .userDetails h3 span {
    font-size: 0.75em;
    }
    
    .col-9 .card .top .userDetails h3 span {
    font-size: 0.75em;
    }
    
    .dot {
    transform: scale(0.6);
    cursor: pointer;
    }
    
    .imgBx {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 10px 0 15px;
    }

    .likes {
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
    color: #4d4d4f;
    }
    
    .message {
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
    line-height: 1.5em;
    }
    
    .message b {
    color: #262626;
    }
    
    .message span {
    cursor: pointer;
    color: #1d92ff;
    }

    input.text {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    background: none;
    }
    
    input.text::placeholder {
    color: #777;
    }
    
    
    a {
    text-decoration: none;
    }
    
    .hidden {
    display: none;
    }
    
    
    @media screen and (max-width: 600px) {
    .container {
        width: 100% !important;
    }
    
    .navbar .container {
        padding: 15px 10px !important;
    }
    
    .col-9 {
        margin-top: 4px;
        min-width: 100%;
    }
    
    .col-9 .card {
        margin-bottom: 0px;
        width: 100%;
        border: none;
    }
    }

    /* RESPONSIVENESS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.container{
  min-height: 100%;
  min-width: 50%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        min-height: 100%;
        min-width: 50%;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        min-height: 100%;
        min-width: 50%;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        min-height: 100%;
        min-width: 50%;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        min-height: 100%;
        min-width: 50%;
      }
}

